@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

::selection{
  background-color: var(--color-blue-400);
  color:white;
  padding:4px;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-inter:"inter",sans-serif;
}
